@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap-view {
  @apply p-6 lg:p-10 pb-24 lg:pt-8;
}

.card {
  @apply backdrop-blur-md border border-gray-200 bg-white/50 rounded-xl shadow-lg shadow-gray-300/50;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
}
.scrollbar-hidden::-webkit-scrollbar,
.scrollbar-hidden-webkit-scrollbar-track,
.scrollbar-hidden::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.65);
}

* {
  letter-spacing: -0.1px;
}
.window-glass {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 50px -12px rgba(249, 115, 22, 0.15);
  width: 800px;
}

.modal {
  background: white;
  /* border-radius: 12px; */
  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.wizard-modal {
  @apply window-glass h-full md:max-w-[650px] overflow-hidden flex flex-col relative md:border md:border-gray-200 modal bg-white/50 md:rounded-xl md:shadow-lg md:shadow-gray-300/50;
  width: 100% !important;
}
.header {
  height: 60px;
  z-index: 20;
  border-top: 1px solid white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: white;
  color: white;
  box-shadow:
    0 2px 4px rgb(228 228 228 / 70%),
    inset 0 0px 0 rgb(255 255 255),
    inset 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dcdcdc;
}

.orange-gradient {
  background: linear-gradient(to bottom, #fb923c, #d9600c);
}

.btn-wlm:active {
  background: linear-gradient(to bottom, #d9600c, #fb923c);
}
.btn-wlm {
  position: relative;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  height: 48px;
}

.btn-primary {
  box-shadow:
    0 2px 4px rgb(65 65 65 / 50%),
    inset 0 1px 0 rgba(255, 255, 255, 0.35),
    inset 0px 0px 15px 0px rgb(106 45 0 / 10%),
    0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, #fb923c, #d9600c);
  border: 1px solid #b16028;
  color: white;
  border-bottom-width: 3px;
}
/* input:not([type='checkbox']):not([type='radio']):focus {
  background: white;
} */

/* input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  box-shadow:
    0 2px 4px rgb(65 65 65 / 50%),
    inset 0 2px 0 rgba(255, 255, 255, 1),
    inset 0px 0px 10px 0px rgb(0 0 0 / 5%);
  background: linear-gradient(to bottom, rgb(0 0 0 / 4%), rgb(0 0 0 / 0%));
  border: 1px solid #c6c6c6 !important;

  font-weight: 600;
} */
